<div class="c-products">
  <div class="c-products__header">
    <h1 class="c-products__title">Produtos</h1>
    <!-- <div class="c-products__search">
      <input type="text" placeholder="Digite o nome de um produto" />
    </div> -->
  </div>

  <div class="c-products__categories">
    <!-- Aqui a gente vai pegar a ideia do mat tab lá do lejour (quando a pessoa for buscar produtos,
      a gente faz a busca sem uma categoria específica pra poder pesquisar em todas,
      no layout a gente pode parar de mostrar as categorias enquanto essa busca ocorre ou fica aberta a tab "todos os produtos") -->

    <mat-spinner
      class="c-products__loading"
      [diameter]="100"
      *ngIf="isLoading"
    ></mat-spinner>

    <mat-tab-group (selectedTabChange)="onSelectTabChange($event)" *ngIf="!isLoading">
      <mat-tab *ngFor="let category of categories" [label]="category.name">
        <ng-template matTabContent>
          <div class="c-products__category">
            <div class="c-products__category-products">
              <div
                class="c-products__category-product"
                *ngFor="let product of productsByCategory[category.slug]"
              >
                <div class="c-products__category-product-image">
                  <img
                    [src]="product.image"
                    alt="Produto"
                  />
                </div>
                <div class="c-products__category-product-info">
                  <p class="c-products__category-product-name">
                    {{ product.name }}
                  </p>
                  <p class="c-products__category-product-value">
                    {{ product.price | currency: "BRL" }}
                  </p>
                  <div
                    class="c-products__category-product-button"
                    (click)="onAddProductToCart(product)"
                  >
                    Adicionar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="c-products__aside" [@showHide]="hasToShow ? 'show' : 'void'">
    <div class="c-products__aside-container">
      <div class="c-products__aside-push-pull">
        <div class="c-products__aside-push-pull-button" (click)="showOrHide()">
          <mat-icon
            class="c-products__aside-push-pull-button-icon"
            [@showHide]="hasToShow ? 'rotate' : 'void'"
          >
            keyboard_arrow_left
          </mat-icon>
        </div>
      </div>

      <div class="c-products__added">
        <div class="c-products__added-header">
          <p class="c-products__added-header-title">Carrinho</p>
        </div>
        <div class="c-products__added-body">
          <div
            class="c-products__added-body-product"
            *ngFor="let cartProduct of cartProducts"
          >
            <div class="c-products__added-body-product-image">
              <img
                [src]="cartProduct.image"
                alt="Produto"
              />
            </div>
            <div class="c-products__added-body-product-info">
              <p class="c-products__added-body-product-name">
                {{ cartProduct.name }}
              </p>
              <p class="c-products__added-body-product-value">
                {{ cartProduct.price | currency: "BRL" }}
              </p>

              <div class="c-products__added-body-product-quantity">
                <div
                  class="c-products__added-body-product-quantity-button"
                  (click)="onRemoveProduct(cartProduct)"
                >
                  -
                </div>
                <p class="c-products__added-body-product-quantity-value">
                  {{ cartProduct.quantity }}
                </p>
                <div
                  class="c-products__added-body-product-quantity-button"
                  (click)="add(cartProduct)"
                >
                  +
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="c-products__suggested">
        <div class="c-products__suggested-header">
          <p class="c-products__suggested-header-title">Produtos sugeridos</p>
        </div>
        <div class="c-products__suggested-body">
          <div
            class="c-products__suggested-body-product"
            *ngFor="let product of products.slice(3, products.length)"
          >
            <div class="c-products__suggested-body-product-image">
              <img
                [src]="product.image"
                alt="Produto"
              />
            </div>
            <div class="c-products__suggested-body-product-info">
              <p class="c-products__suggested-body-product-name">
                {{ product.name }}
              </p>
              <p class="c-products__suggested-body-product-value">
                {{ product.price | currency: "BRL" }}
              </p>

              <!-- Aqui tem que virar um botão de "adicionar" -->

              <div class="c-products__suggested-body-product-quantity">
                <div
                  class="c-products__suggested-body-product-quantity-button"
                  (click)="onRemoveProduct(product)"
                >
                  -
                </div>
                <p class="c-products__suggested-body-product-quantity-value">
                  {{ quantity }}
                </p>
                <div
                  class="c-products__suggested-body-product-quantity-button"
                  (click)="add(product)"
                >
                  +
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="c-products__footer">
    <div class="c-products__total">
      <p class="c-products__total-text">Valor total</p>
      <p class="c-products__total-value">
        {{ total | currency: "BRL" }}
      </p>
    </div>
    <div class="c-products__button" (click)="openPaymentModal()">
      Finalizar pedido
    </div>
  </div>
</div>
