.c-login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #751aff;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &-icon {
      height: 72px;
      width: 72px;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: #fff;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    height: 120px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: center;

    &-buttons {
      display: flex;
      width: 80%;
      justify-content: space-around;

      &-join,
      &-login {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        padding: 18px 24px;
        border-radius: 12px;
        font-weight: bold;
      }

      &-join {
        color: #751aff;
      }

      &-login {
        background-color: #751aff;
        color: #fff;
      }
    }
  }
}

.purple {
  color: #751aff;
  font-size: 42px;
  height: auto;
  width: auto;
}
