.c-login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../../../assets/login-image.jpg);
  background-size: cover;
  align-items: center;
  
  &__layer{
    background-color: rgba( 0, 0, 0, 0.5 );
    height: 100%;
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &-icon {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background-color: #fff;
      margin-right: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      font-size: 50px;
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      color: #fff;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 24px 48px;
  }

  &__form {
    width: 100%;

    &-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &-join,
      &-login {
        font-size: 25px;
        font-family: "Quicksand", sans-serif;
        padding: 24px 42px;
        border-radius: 18px;
        font-weight: bold;
      }

      &-join {
        color: #C505FA;
        border: 1px solid #C505FA;
      }

      &-login {
        background-color: #C505FA;
        color: #fff;
      }
    }
  }
}

.purple {
  color: #C505FA;
  font-size: 50px;
  height: auto;
  width: auto;
}
