<div class="c-products">
  <div class="c-products__header">
    <h1 class="c-products__title">Produtos</h1>
    <!-- <div class="c-products__search">
      <input type="text" placeholder="Digite o nome de um produto" />
    </div> -->
  </div>
  <div class="c-products__categories">
    <!-- Aqui a gente vai pegar a ideia do mat tab lá do lejour (quando a pessoa for buscar produtos, 
      a gente faz a busca sem uma categoria específica pra poder pesquisar em todas, 
      no layout a gente pode parar de mostrar as categorias enquanto essa busca ocorre ou fica aberta a tab "todos os produtos") -->
      <mat-tab-group>
        <mat-tab *ngFor="let category of categories" [label]="category.name">
          <ng-template matTabContent>
            <div class="c-products__category">
              <div class="c-products__category-products">
                <div class="c-products__category-product" *ngFor="let product of products">
                  <div class="c-products__category-product-image">
                    <img src="https://via.placeholder.com/150/C505FA/FFFFFF" alt="Produto" />
                  </div>
                  <div class="c-products__category-product-info">
                    <p class="c-products__category-product-name">{{ product.name }}</p>
                    <!-- <p class="c-products__category-product-description">{{ product.description }}</p> -->
                    <p class="c-products__category-product-value">{{ product.price }}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
  </div>
  
  <div class="c-products__actions">
    <div class="c-products__button">Finalizar pedido</div>
  </div>
</div>
