.c-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-bottom: 220px;

  &__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 36px;
  }

  &__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    > mat-tab-group {
      ::ng-deep .mat-tab-label-content {
        font-size: 28px;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
      }
    }
  }

  &__category {
    &-products {
      padding: 12px 24px 120px;
    }

    &-product {
      padding: 18px 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #d3d3d3;

      &-image {
        margin-right: 24px;

        > img {
          border-radius: 24px;
        }
      }

      &-info {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
      }

      &-name,
      &-value {
        font-size: 22px;
      }

      &-button {
        font-size: 22px;
        font-family: "Quicksand", sans-serif;
        padding: 12px;
        border-radius: 24px;
        color: #C505FA;
        background-color: #fff;
        border: 1px solid #C505FA;
        margin-top: 18px;
        width: 96px;
      }
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 48px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    z-index: 2;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  }

  &__total {
    &-text,
    &-value {
      font-size: 25px;
      font-weight: bold;
    }
  }

  &__button {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    padding: 24px 42px;
    border-radius: 18px;
    font-weight: bold;
    background-color: #C505FA;
    color: #fff;
  }

  &__aside {
    position: fixed;
    right: -350px;
    top: 160px;
    z-index: 3;
    padding: 24px;
    background-color: #fff;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    min-width: 300px;
    max-width: 300px;

    &-container {
      position: relative;
    }

    &-push-pull {
      position: absolute;
      top: 50%;
      left: -38px;
      height: 70px;
      width: 40px;
      transform: translate(-50%, 0);
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      box-shadow: -3px 0px 6px -2px rgba(0, 0, 0, 0.25);
      color: #c505fa;
    
      &-button-icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &__added,
  &__suggested {
    &-header {
      margin-bottom: 18px;

      &-title {
        font-size: 25px;
        font-weight: bold;
        font-family: "Ubuntu", sans-serif;
      }
    }

    &-body {
      height: 350px;
      overflow-y: scroll;

      &-product {
        display: flex;
        margin-bottom: 12px;

        &-image {
          margin-right: 24px;

          > img {
            border-radius: 24px;
          }
        }

        &-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 22px;
        }

        &-quantity {
          display: flex;
          margin-top: 12px;
          align-items: center;

          &-button {
            background-color: #C505FA;
            color: #fff;
            padding: 6px;
            border-radius: 6px;
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &-value {
            margin: 0 12px;
          }
        }
      }
    }
  }

  &__added {
    margin-bottom: 36px;
  }
}
