<div class="c-payment-modal">
  <div class="c-payment-modal__header">
    <div class="c-payment-modal__close" (click)="closeModal()">
      <p class="c-payment-modal__close-icon">X</p>
    </div>
  </div>

  <div class="c-payment-modal__content">
    <ng-container [ngSwitch]="index">
      <!-- First Step -->
      <div class="confirmation" *ngSwitchCase="0">
        <h1 class="c-payment-modal__content-title">Confirmação de pagamento</h1>
        <p class="c-payment-modal__content-text">
          Antes de prosseguir, confira os produtos:
        </p>
        <div class="c-payment-modal__content-products">
          <div
            class="c-payment-modal__content-product"
            *ngFor="let product of products"
          >
            <div class="c-payment-modal__content-product-image">
              <img
                src="https://via.placeholder.com/150/C505FA/FFFFFF"
                alt="Produto"
              />
            </div>
            <div class="c-payment-modal__content-product-info">
              <p class="c-payment-modal__content-product-name">
                {{ product.name }}
              </p>
              <p class="c-payment-modal__content-product-quantity">
                Quantidade: 1
              </p>
              <p class="c-payment-modal__content-product-value">
                {{ product.price }}
              </p>
            </div>
          </div>
        </div>

        <div class="c-payment-modal__content-buttons">
          <div
            class="c-payment-modal__content-buttons-cancel"
            (click)="closeModal()"
          >
            Cancelar
          </div>
          <div
            class="c-payment-modal__content-buttons-confirm"
            (click)="nextStep()"
          >
            Próximo
          </div>
        </div>
      </div>

      <!-- Second Step -->
      <div class="payment-method" *ngSwitchCase="1">
        <h1 class="c-payment-modal__content-title">Forma de pagamento</h1>
        <p class="c-payment-modal__content-text">
          Selecione a forma de pagamento:
        </p>
        <div class="c-payment-modal__content-payment-methods">
          <div
            class="c-payment-modal__content-payment-method"
            [class.c-payment-modal__content-payment-method--selected]="
              paymentMethod.slug === selectedPaymentMethod
            "
            *ngFor="let paymentMethod of paymentMethods"
            (click)="selectPaymentMethod(paymentMethod.slug)"
          >
            <div class="c-payment-modal__content-payment-method-image">
              <img [src]="paymentMethod.image" alt="Forma de pagamento" />
            </div>
            <div class="c-payment-modal__content-payment-method-info">
              <p class="c-payment-modal__content-payment-method-name">
                {{ paymentMethod.name }}
              </p>
              <p class="c-payment-modal__content-payment-method-description">
                {{ paymentMethod.description }}
              </p>
            </div>
          </div>
        </div>

        <div class="c-payment-modal__content-buttons">
          <div
            class="c-payment-modal__content-buttons-cancel"
            (click)="previousStep()"
          >
            Voltar
          </div>
          <div
            class="c-payment-modal__content-buttons-confirm"
            (click)="confirmPaymentMethod()"
          >
            Confirmar
          </div>
        </div>
      </div>

      <!-- Third Step - PIX -->
      <div class="pix" *ngSwitchCase="2">
        <h1 class="c-payment-modal__content-title">PIX</h1>
        <p class="c-payment-modal__content-text" *ngIf="!isLoading">
          Para finalizar a compra, basta escanear o QR Code abaixo:
        </p>
        <div class="c-payment-modal__content-pix" *ngIf="!isLoading">
          <div class="c-payment-modal__content-pix-qrcode">
            <img src="../../../assets/qrcode-image.png" alt="QR Code" />
          </div>
        </div>

        <mat-spinner
          class="c-payment-modal__content-pix"
          [diameter]="100"
          *ngIf="isLoading"
        ></mat-spinner>
      </div>

      <div class="credit-card" *ngSwitchCase="3">
        <h1 class="c-payment-modal__content-title">Cartão de Crédito/Débito</h1>
        <p class="c-payment-modal__content-text" *ngIf="!isLoading">
          Para finalizar a compra, insira o cartão na maquininha e digite sua senha:
        </p>
        <div class="c-payment-modal__content-credit-card" *ngIf="!isLoading">
          <div class="c-payment-modal__content-credit-card-icon">
            <img src="../../../assets/credit-card-machine-image.png" alt="Máquina de cartão de crédito/débito" />
          </div>
        </div>

        <mat-spinner
          class="c-payment-modal__content-credit-card"
          [diameter]="100"
          *ngIf="isLoading"
        ></mat-spinner>
      </div>

      <div class="money" *ngSwitchCase="4">
        <h1 class="c-payment-modal__content-title">Pagamento em dinheiro</h1>
        <p class="c-payment-modal__content-text">
          Por conta de ter escolhido pagar com dinheiro, encerre sua sessão, e após receber seus produtos, dirija-se ao caixa para finalizar a compra.
        </p>
        <div class="c-payment-modal__content-money">
          <div class="c-payment-modal__content-money-icon">
            <img src="../../../assets/money-image.png" alt="Dinheiro" />
          </div>
        </div>

        <div class="c-payment-modal__content-money-button" (click)="goToPostPayment()">
          Ok, entendi
        </div>
      </div>
    </ng-container>
  </div>
</div>
